*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}
.Portfolio{
    position:absolute;
    left:5rem;
    font-size: 1.7rem;
    list-style: none;
    color: rgb(153, 9, 9) ;
   
}
ul{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding-top: 2rem;
}
a{
    transition: 0.3s ease-in-out;
    text-decoration: solid;

}
a:hover{
    text-decoration:underline;
    color: rgb(29, 94, 3);
    
    font-size: 1.3rem; 
    cursor: pointer;  
}
.ham{
    display: none;
}
.close{
    display: none;
}

@media (max-width:700px) {
    
    .hambar{
        display: none;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(7px);
        color: whitesmoke;
        background-color: rgba(69, 120, 165, 0.61);
        padding-top: 3rem;
       margin-left: 9rem;
       height: 100vh;
       padding-bottom: 10rem;
    }
    .ham{
        display: flex;
        position:absolute;
        right: 2rem;
        top:0.9rem;
        cursor: pointer;
        font-size: 1.6rem;
    }
    .Portfolio{
        display: block;
        position: fixed;
        top: -1rem;
        left:1.1rem;
        font-size: 1.4rem;

    }
    a:hover{
        background-color: rgb(255, 255, 255);
        color: black;
        transition: 0.2s ease-in;
    }
    .close{
        display: inline;
      position:absolute;
        top:1rem;
        right: 11rem;   
        transition: 0.3s ease-in;
    }
    .close:hover{
        font-size: 2rem;
    }
    .image{
        display: flex ;
        justify-content: center;
        align-items: center;
        margin-left: 1.8rem;
        margin-top: 1rem;
        height: 300px;
        width: 85%;
        border: black solid 2px;
   }
   .content{
    width: 100%;
    margin-top: 2rem;
   }
   #t1{
    color: rgb(7, 92, 39);
    font-size: 1.8rem;
    padding-left: 0.7rem;
   }
   #t2{
    font-size: 1.2rem;
    padding-left: 0.7rem;
   }
   #t3{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
   }
}