*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(118, 103, 165);
    font-family: sans-serif;
}
.Portfolio{
    position:absolute;
    left:5rem;
    font-size: 1.7rem;
    list-style: none;
   
}
ul{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding-top: 2rem;
}
a{
    transition: 0.3s ease-in-out;
    text-decoration: solid;

}
a:hover{
    text-decoration:underline;
    color: rgb(255, 255, 255);
    font-size: 1.3rem; 
    cursor: pointer;  
}
.ham{
    display: none;
}
.close{
    display: none;
}

@media (max-width:700px) {
    
    .hambar{
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: aliceblue;
        padding-top: 3rem;
       margin-left: 9rem;
       height: 100vh;
       padding-bottom: 20rem;
    }
    .ham{
        display: flex;
        right: 1rem;
        top:0.9rem;
        cursor: pointer;
        font-size: 1.rem;
    }
    .ham:hover{
        font-size: 1.9rem;
    }
    .Portfolio{
        display: block;
        position: fixed;
        top: -1rem;
        left:1.1rem;
        font-size: 1.4rem;

    }
    a:hover{
        background-color: black;
        width: 100%;
        transition: 0.2s ease-in;
    }
    .close{
        display: inline;
      position:absolute;
        top:1rem;
        right: 11rem;   
        transition: 0.3s ease-in;
    }
    .close:hover{
        font-size: 2rem;
    }
    
}